# Medical Insurance Costs Analysis
### Author: Parker Holt
### Summary:
This project is a cost analysis with one dataset to answer four questions:
1. Find the average cost for all people
2. Find the difference between smokers and non-smokers in average cost
3. Find the region with highest average cost
4. Find the average cost for people with age of 50 and up

importing pandas and opening the insurance dataset from https://www.kaggle.com/datasets/mirichoi0218/insurance?select=insurance.csv

In [1]:
import pandas as pd

In [2]:
insurance = pd.read_csv('insurance.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Goals of Analysis
### 1. Find the average cost for all people
### 2. Find the difference between smokers and non-smokers in average cost
### 3. Find the region with highest average cost
### 4. Find the average cost for people with age of 50 and up.

Average Cost for all people in the dataset

In [3]:
#Average cost for all people
average_cost = sum(insurance['charges']) / len(insurance['charges'])
print('The average cost for all people is ' + str(round(average_cost, 2)))

The average cost for all people is 13270.42

Difference between smokers and non smokers in average cost

In [4]:
#Difference between smokers and non-smokers in average cost
sum_charges_smokers = 0
sum_charges_non_smokers = 0
count_smokers = 0
count_non_smokers = 0


for index in insurance.index:
    if insurance['smoker'][index] == 'yes':
        sum_charges_smokers += insurance['charges'][index]
        count_smokers += 1
    elif insurance['smoker'][index] == 'no':
        sum_charges_non_smokers += insurance['charges'][index]
        count_non_smokers += 1


avg_smokers_cost = sum_charges_smokers / count_smokers
avg_non_smokers_cost = sum_charges_non_smokers / count_non_smokers

difference = abs(avg_smokers_cost - avg_non_smokers_cost)
print("The difference between smokers and non_smokers in average cost is " + str(round(difference, 2)))

The difference between smokers and non_smokers in average cost is 23615.96

The region with highest average cost

In [5]:
#The region with highest average cost

sum_northwest = 0
sum_northeast = 0
sum_southwest = 0
sum_southeast = 0
count_nw = 0
count_ne = 0
count_sw = 0
count_se = 0

for index in insurance.index:
    if insurance['region'][index] == 'northwest':
        sum_northwest += insurance['charges'][index]
        count_nw += 1
    elif insurance['region'][index] == 'northeast':
        sum_northeast += insurance['charges'][index]
        count_ne += 1
    elif insurance['region'][index] == 'southwest':
        sum_southwest += insurance['charges'][index]
        count_sw += 1
    elif insurance['region'][index] == 'southeast':
        sum_southeast += insurance['charges'][index]
        count_se += 1

avg_nw = sum_northwest / count_nw
avg_ne = sum_northeast / count_ne
avg_sw = sum_southwest / count_sw
avg_se = sum_southeast / count_se
#Below I used print functions to find which region has highest average cost
#print(sum_northwest, sum_northeast, sum_southwest, sum_southeast)
#print(avg_nw, avg_ne, avg_sw, avg_se)
#print(count_nw, count_ne, count_sw, count_se)
highest_cost = max(avg_nw, avg_ne, avg_sw, avg_se)

print('The region with highest average cost is Southeast. The cost in that region is ' + str(round(highest_cost, 2)))

The region with highest average cost is Southeast. The cost in that region is 14735.41

The average cost for people with age of 50 and up

In [6]:
#The average cost for people with age of 50 and up

sum_age_50up = 0
count_50up = 0

for index in insurance.index:
    if insurance['age'][index] >= 50:
        sum_age_50up += insurance['charges'][index]
        count_50up += 1
        
avg_cost_50up = sum_age_50up / count_50up
print('The average cost for people with age of 50 and up is ' + str(round(avg_cost_50up, 2)))

The average cost for people with age of 50 and up is 17902.55